body{background-color: #C4DBED;
      margin: 100PX; text-align: center;}
      h1{color: #D16CAE;}
      h2{color: #00A328;}
      h3{text-align:center;}
      h4{text-align: left;text-align:center;}
      h5{text-align: right;}